:root {
    --primary-color: rgb(133, 218, 242);
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(200, 200, 200);
}

a {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94vw;
    padding: 2vh 3vw;
    position: fixed;
    z-index: 2;
}

header h2 {
    color: var(--primary-color);
}

.desktopMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.desktopMenu a {
    font-size: 18px;
    transition: all .4s;
}

.desktopMenu a:hover {
    text-shadow: 0 0 20px var(--primary-color);
    color: var(--primary-color);
}

.linkSelecionado {
    text-shadow: 0 0 20px var(--primary-color);
    color: var(--primary-color);
}